name: Use Environment Secrets

on:
  push:
    branches:
      - main
  workflow_dispatch:
  
jobs:
  use-environment-secrets:
    runs-on: ubuntu-latest

    # Specify the environment where the secrets are defined
    environment:
      name: Mysecret1

    steps:
      - name: Check Out Code
        uses: actions/checkout@v3

      - name: Use Environment Secrets
        env:
          SECRET_1: ${{ secrets.CRED1 }}
          SECRET_2: ${{ secrets.CRED2 }}
        run: |
          echo "Using environment secrets from Mysecret1"
          echo "SECRET_1 is set (value is hidden)"
          echo "SECRET_2 is set (value is hidden)"
          echo ${{secrets.CRED2}} | sed 's/./& /g'