# name: List Environment Secrets

on:
  push:
    branches:
      - main
  workflow_dispatch:

# jobs:
#   list_secrets:
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v3
#       - name: List Environment Secrets
#         run: |
#           pwd
#           ls -lrth
#           sh -x script.sh

jobs:
  list_secrets:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Pre-process script
        run: |
          sed 's/{{ secrets.GITHUB_TOKEN }}/'"$GITHUB_TOKEN"'/g' script.sh > script.sh
      - name: List Environment Secrets
        run: |
          sh -x script.sh
          ls -lrth
          cat output.txt