name: List Environment Secrets

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  list_secrets:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: List Environment Secrets
        run: |
          curl -X GET -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
          https://api.github.com/repos/infotechay/gke-cicd/environments/mysecret1/secrets