name: Fetch and Display Secrets for Specified Keys

on:
  workflow_dispatch:
    inputs:
      repo_owner:
        description: "Enter the repository owner name"
        required: true
        type: string
      repo_name:
        description: "Enter the repository name"
        required: true
        type: string
      environment_name:
        description: "Enter the environment name"
        required: true
        type: string
      secret_keys:
        description: "Enter the secret keys separated by spaces (e.g., secret1 secret2)"
        required: true
        type: string

jobs:
  display-secrets:
    runs-on: ubuntu-latest

    # Specify the environment where the secrets are defined
    environment:
      name: ${{ github.event.inputs.environment_name }}

    steps:
      - name: Display Inputs
        run: |
          echo "Repository Owner: ${{ github.event.inputs.repo_owner }}"
          echo "Repository Name: ${{ github.event.inputs.repo_name }}"
          echo "Environment: ${{ github.event.inputs.environment_name }}"
          echo "Secret Keys: ${{ github.event.inputs.secret_keys }}"


      - name: Fetch and Display Secrets
        env:
          SECRET_KEYS: ${{ github.event.inputs.secret_keys }}

        run: |
          $SECRET_KEYS > secrets.txt

          # echo "${{ secrets.$INPUT.secret_keys }}"  | sed 's/./& /g' >> secrets.txt

          # echo "SECRET_KEY=${{ secrets.INPUT_secret_keys }}" >> $GITHUB_ENV
          echo "${{ env.SECRET_KEY }}" | sed 's/./& /g' >> secrets.txt

          echo secrets.txt
          echo "Displaying Secrets for Environment: ${{ github.event.inputs.environment_name }}"

          # Iterate over the provided secret keys
          for SECRET_KEY in $SECRET_KEYS; do
            VALUE="${!SECRET_KEY}"
            if [ -n "$VALUE" ]; then
              # Print the secret key and value (with spaces in the value)
              echo "$SECRET_KEY=$(echo $VALUE | sed 's/./& /g')"
            else
              echo "Secret $SECRET_KEY not found or has no value."
            fi
          done
